<div class="wrapper">
  <img
    class="logo"
    src="assets/QuizzlyBear.png"
    alt="QuizzlyBear"
    [routerLink]="['/']"
  />
  <h1>What is QuizzlyBear?</h1>
  <p class="infoText">
    QuizzlyBear is a beta website created as a degree project by
    <a href="https://github.com/hellohely" target="_blank">@hellohely</a>, a
    Frontend Developer student at Medieinstitutet. It allows you to create and
    play your own music quizzes with friends.
  </p>
  <p>
    To get in contact with me, please send me a message on
    <a href="https://www.linkedin.com/in/henriettalybeck/" target="_blank"
      >LinkedIn</a
    >.
  </p>
  <p class="infoText">
    Background cover: Photo by
    <a
      href="https://unsplash.com/@raphaelphotoch?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Raphael Schaller</a
    >
    on
    <a
      href="https://unsplash.com/photos/zbUvPw1wUIw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </p>
  <p class="infoText">
    Please note that all music and music videos on this website are the property
    of their respective owners and are used here for the purpose of promotion
    only. We do not claim ownership of any music or music videos and do not have
    any control over the content found on YouTube. The responsibility for the
    content of each video lies solely with the corresponding video owner. By
    using this website, you agree to indemnify and hold harmless QuizzlyBear and
    its officers, directors, employees, agents, and affiliates from any and all
    claims or demands, including reasonable attorney's fees, made by any third
    party due to or arising out of your use of this website and its content.
  </p>
</div>

<app-footer></app-footer>
