<div class="wrapper">
  <img
    class="logo"
    src="assets/QuizzlyBear.png"
    alt="QuizzlyBear"
    [routerLink]="['/']"
  />
  <h1>What is QuizzlyBear?</h1>
  <p class="infoText">
    QuizzlyBear is a beta website created as a degree project by
    <a href="https://github.com/hellohely" target="_blank">@hellohely</a>, a
    student at Medieinstitutet. It allows you to create and play your own music
    quizzes with friends.
  </p>
  <p class="infoText">
    Simply create a quiz, paste in links to music videos on YouTube, add
    questions and answer options, and save your quiz to receive a code. This
    code is your key to playing the quiz.
  </p>
  <p class="infoText">
    QuizzlyBear is perfect for parties. On the host's screen, the music video
    will play and the questions will appear. Meanwhile, players can use their
    phones to see the answer options and answer the questions in real-time. It's
    a fun and interactive way to enjoy music with friends.
  </p>
</div>

<app-footer></app-footer>
