<div class="wrapper">
  <img
    class="logo"
    src="assets/QuizzlyBear.png"
    alt="QuizzlyBear"
    [routerLink]="['/']"
  />

  <h1>Create a Music Quiz!</h1>
  <form (ngSubmit)="saveQuiz()" #form="ngForm">
    <label class="formlabel">Name of Quiz</label>
    <input
      type="text"
      placeholder="My Awesome Music Quiz"
      [(ngModel)]="quiz.quizName"
      name="quizName"
      required
    />
    <label class="formlabel">Your Name</label>
    <input
      type="text"
      placeholder="Luke Skywalker"
      [(ngModel)]="quiz.quizCreator"
      name="creatorName"
      required
    />
    <ul>
      <li *ngFor="let question of questions; let i = index">
        <h3>Question {{ i + 1 }}</h3>
        <iframe
          *ngIf="showVideos[i]"
          width="560"
          height="315"
          [src]="youtubeLinks[i]"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <label class="formlabel">Youtube Link</label>
        <input
          type="text"
          placeholder="https://www.youtube.com/best-song-ever"
          [(ngModel)]="question.link"
          name="youtubeLink{{ i }}"
          required
          [disabled]="showVideos[i]"
        />
        <button
          type="button"
          (click)="removeVideo(youtubeLinks[i])"
          *ngIf="showVideos[i]"
        >
          Remove Music Video
        </button>
        <button
          type="button"
          (click)="embedVideo(question.link, i)"
          *ngIf="!showVideos[i]"
        >
          Add Music Video To Quiz
        </button>
        <label class="formlabel">Question Text</label>
        <input
          type="text"
          placeholder="What is the name of this song?"
          [(ngModel)]="question.questionString"
          name="question{{ i }}"
          required
        />

        <label class="formlabel">Answer Options</label>
        <div
          class="answer"
          *ngFor="let answerOption of question.answerOptions; let i = index"
        >
          <p *ngIf="answerOption.isAnswer" class="answerInfo">
            Write the correct answer here
          </p>
          <input
            type="text"
            placeholder="Answer"
            [(ngModel)]="answerOption.answerString"
            name="{{ answerOption.answerId }}"
            required
          />
          <p *ngIf="answerOption.isAnswer" class="answerInfo">
            Write the incorrect answer options here
          </p>
        </div>
      </li>
      <button type="button" (click)="addQuestion()" [disabled]="!form.valid">
        ADD ANOTHER QUESTION
      </button>
    </ul>
    <button type="submit" [disabled]="!form.valid">SAVE QUIZ</button>
    <h3 *ngIf="showQuizId">
      Your quiz is saved with the ID: <br />
      {{ quizId }}
    </h3>
    <p *ngIf="showQuizId">
      Copy this code and share it with your friends to play!
    </p>
  </form>
</div>
