<div class="wrapper">
  <h1>Create a Music Quiz!</h1>
  <form>
    <label>Name of Quiz</label>
    <input type="text" placeholder="My Awesome Music Quiz" />
    <label>Your Name</label>
    <input type="text" placeholder="Luke Skywalker" />
    <ul>
      <li *ngFor="let question of questions">
        <h3>Question {{ question }}</h3>
        <label>Youtube Link</label>
        <input type="text" placeholder="https://www.youtube.com/yoursong" />
        <label>Question Text</label>
        <input type="text" placeholder="What is the name of this song?" />
        <label>Answer Options</label>
        <input type="text" placeholder="Answer 1" />
        <input type="text" placeholder="Answer 2" />
        <input type="text" placeholder="Answer 3" />
        <input type="text" placeholder="Answer 4" />
      </li>
      <button type="button" (click)="addQuestion(questions)">
        ADD ANOTHER QUESTION
      </button>
    </ul>
    <button type="submit" [routerLink]="['../']">SAVE QUIZ</button>
  </form>
</div>
