<div class="wrapper">
  <img
    class="logo"
    src="assets/QuizzlyBear.png"
    alt="QuizzlyBear"
    [routerLink]="['/']"
  />
  <button class="bigger-button" [routerLink]="['../createquiz']">
    CREATE QUIZ
  </button>
  <button class="bigger-button" [routerLink]="['../joinquiz']">
    PLAY QUIZ
  </button>
  <button class="bigger-button" [routerLink]="['../howto']">
    HOW DOES IT WORK?
  </button>
  <button class="bigger-button" [routerLink]="['../about']">ABOUT</button>
</div>

<app-footer></app-footer>
