<div class="wrapper">
  <img
    class="logo"
    src="assets/QuizzlyBear.png"
    alt="QuizzlyBear"
    [routerLink]="['/']"
  />

  <h1>{{ quizName }}</h1>
  <h3>Made by {{ quizCreator }}</h3>

  <div class="code">
    <p>Quiz Code:</p>
    <h3>{{ room }}</h3>
  </div>

  <p>Quiz Host:</p>
  <ul>
    <li class="userList" *ngFor="let host of quizHost">{{ host.username }}</li>
  </ul>

  <p>Quiz Players:</p>
  <ul>
    <li class="userList" *ngFor="let player of players">
      {{ player.username }}
    </li>
  </ul>

  <button class="bigger-button" *ngIf="userIsHost" (click)="startQuiz()">
    START QUIZ
  </button>

  <button (click)="leaveQuiz()">LEAVE QUIZ</button>
</div>

<app-footer></app-footer>
