<div class="wrapper">
  <img
    class="logo"
    src="assets/QuizzlyBear.png"
    alt="QuizzlyBear"
    [routerLink]="['/']"
  />
  <form #form="ngForm">
    <label class="formlabel">Enter quiz code</label>
    <input
      type="text"
      [(ngModel)]="quizIdInput"
      placeholder="Quiz Code"
      name="quizCode"
      required
    />
    <label class="formlabel">Enter your name</label>
    <input
      type="text"
      [(ngModel)]="usernameInput"
      placeholder="Your Name"
      name="userName"
      required
    />
    <button (click)="enterQuiz(false)" [disabled]="!form.valid">
      ENTER QUIZ AS PLAYER
    </button>
    <button (click)="enterQuiz(true)" [disabled]="!form.valid">
      ENTER QUIZ AS HOST
    </button>
  </form>
</div>

<app-footer></app-footer>

<app-footer></app-footer>
