/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url(styles/typography.scss);
@import url(styles/footer.scss);

body {
  background-color: #121215;
  background-image: url("assets/background.jpg");
  overscroll-behavior-y: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

li {
  font-family: Questrial;
  color: #c5c6c7;
  list-style: none;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #121215;
  border: 1px solid #66fcf1;
  color: #c5c6c7;
  padding: 15px;
  font-family: Questrial;
  width: 200px;
  margin: 15px;
  &:hover {
    cursor: pointer;
  }

  &:disabled {
    border: 1px solid #c5c6c7;
    &:hover {
      cursor: default;
    }
  }
}

.bigger-button {
  width: 250px;
  font-size: 22px;
  border: 2px solid #66fcf1;
  align-self: center;
}

.is-answer {
  color: rgb(105, 208, 105);
}

.is-not-answer {
  color: rgb(251, 118, 118);
}

input {
  background-color: #121215;
  border: 1px solid #66fcf1;
  color: #c5c6c7;
  padding: 15px;
  font-family: Questrial;
  width: 300px;
  margin: 15px;
}

.formlabel {
  color: #c5c6c7;
  padding: 15px;
  font-family: Questrial;
  font-size: 20px;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.85);
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

.correct {
  margin-left: 15px;
  display: flex;
  align-items: center;

  p {
    margin-left: 15px;
  }
}

.answerInfo {
  text-align: center;
}

.questionBg {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
  padding: 40px;
}

.logo {
  width: 200px;
  margin-bottom: 40px;
  &:hover {
    cursor: pointer;
  }
}

a {
  color: #66fcf2;

  &:visited {
    color: #66fcf1;
  }
  &:active {
    color: #66fcf1;
  }
}

.infoText {
  max-width: 90%;
  text-align: center;
}

.scores {
  font-size: 24px;
  margin-bottom: 15px;
}

.controls {
  margin-top: 0px;
  li {
    padding: 15px;
  }
}

.control {
  border: 1px solid #66fcf2;
  padding: 7px;
  margin-right: 5px;
}

.userList {
  font-size: 24px;
}

//Youtube embed hacks
.frame-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  width: 300%; /* enlarge beyond browser width */
  left: -100%; /* center */
}

.frame-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframeWrapper {
  overflow: hidden;
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  .logo {
    width: 350px;
    margin-bottom: 40px;
    &:hover {
      cursor: pointer;
    }
  }

  .wrapper {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .infoText {
    max-width: 60%;
  }
}
