/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  background-color: #121215;
}

h1 {
  font-family: Questrial;
  color: #c5c6c7;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: Questrial;
  color: #c5c6c7;
  font-size: 24px;
  text-align: center;
}

p {
  font-family: Questrial;
  color: #c5c6c7;
}

li {
  font-family: Questrial;
  color: #c5c6c7;
  list-style: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  background-color: #121215;
  border: 1px solid #66fcf1;
  color: #c5c6c7;
  padding: 15px;
  font-family: Questrial;
  width: 200px;
  margin: 15px;
  &:hover {
    cursor: pointer;
  }
}

input {
  background-color: #121215;
  border: 1px solid #66fcf1;
  color: #c5c6c7;
  padding: 15px;
  font-family: Questrial;
  width: 200px;
  margin: 15px;
}

label {
  color: #c5c6c7;
  padding: 15px;
  font-family: Questrial;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
